# This started as the walking skeleton
name: Skeleton

# Controls when the action will run.
on:
  # Triggers the workflow on push request on the main branch.
  push:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel.
jobs:
  # This workflow contains a single job called "build".
  build:
    # The type of runner that the job will run on.
    runs-on: ubuntu-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it.
      - name: Checkout main
        uses: actions/checkout@main
      
      # Install doctl.
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          
      # Run the deploymentyaml file
      - name: K8s Deployment
        run: doctl kubectl apply -f $GITHUB_WORKSPACE/.k8s/deployment.yml
